/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2c2e3f;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
}
#DataTables_Table_0_wrapper{
    overflow-x: scroll;
}
.sp_checks, .att_checks, .dt_checks, .el_checks, .mc_checks, .v_checks, .h_checks, .sl_checks, .o_checks, .c_checks, .other_checks {
    display: none;
}
input#spectrum:checked + .sp_checks, input#att:checked + .att_checks, input#direct_tv:checked + .dt_checks, input#earth_link:checked + .el_checks,
input#mediacom:checked + .mc_checks, input#viasat:checked + .v_checks, input#hughesnet:checked + .h_checks, input#sudden_link:checked + .sl_checks,
input#optimum:checked + .o_checks, input#cox:checked + .c_checks, input#others:checked + .other_checks {
    display: block !important;
    margin-top: 5px;
}
.m-brand.m-brand--skin-dark {
    background: #fff;
}
table td, table th {
    font-size: 12px !important;
}

.sale_boxes {
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sale_boxe_row1 {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.s_b_col1 {
    background-color: #FFFFFF;
    border-color: #E9E9E9;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-left: 15px;
    position: relative;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
.sale_boxe_row1 > div > div > div > div.s_box_icons {
    position: absolute;
    color: #E6E6E6;
    bottom: 0px;
    right: 25px;
    font-size: 75px;
}
.sale_boxe_row1 > div > div > div > div.s_box_icons i, .sale_boxe_row1 > div > div > div > div.box_icons i, .sale_boxe_row1 > div > div > div > div.phone_icons i {
    font-size: 75px;
    z-index: 0;
}
.sale_boxe_row1 > div > div > div > div.dice_icons {
    position: absolute;
    color: #E6E6E6;
    bottom: 0px;
    right: 14px;
    font-size: 75px;
    transform: rotate(250deg);
    width:70px;
}
.sale_boxe_row1 > div > div > div > div.box_icons {
    position: absolute;
    color: #4D4D4D;
    bottom: 0px;
    right: 25px;
    font-size: 75px;
    width:60px;
}
.sale_boxe_row1 > div > div > div > div.phone_icons {
    position: absolute;
    color: #4D4D4D;
    bottom: 0px;
    right: 25px;
    font-size: 75px;
    -webkit-transform: scaleX(-1);
    width:70px;
}
.phone_icons .fa-phone-volume {
    transform: rotate(
        -20deg);
}
.sale_boxe_row1 > div > div > div > div.red_b_circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    /*padding-left: 10px;*/
    padding-top: 10px;
    position: absolute;
    background-color: #BA2423;
    top: 15px;
    right: 15px;
    /*z-index: 100;*/

}
.s_b_col2 {
    background-color: #CCC6B6;
    border-color: #E9E9E9;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-left: 15px;
    position: relative;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
.sale_boxe_row1 > div > div > div > div.dual_clr_circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    /*padding-left: 10px;*/
    padding-top: 10px;
    position: absolute;
    background: linear-gradient(135deg,  #ba141a 0%,#e2791b 100%);
    top: 15px;
    right: 15px;
    /*z-index: 100;*/

}
.s_b_col3 {
    background-color: #333333;
    border-color: #E9E9E9;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-left: 15px;
    position: relative;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 10px;
}

.p_nums {
    color: #FFFFFF;
    font-size: 17px;
}
.white_text {
    font-family : Nunito;
    font-size : 17px;
    line-height : 25px;
    text-transform : uppercase;
    padding-top: 15px;
    margin-bottom: 0;
    color: #ffffff;
}
.yellow_text {
    font-family : Nunito;
    font-size : 17px;
    line-height : 25px;
    text-transform : uppercase;
    color : #FEFF57;
}
.yellow_text,.red_text,.white_text,.black_text{
    position: relative;
    z-index: 2;
}

.NormalCharacterStyle {
    font-family : Nunito;
    font-size : 17px;
    line-height : 25px;
    text-transform : uppercase;
    color : #BA141A;
    color : rgb(186, 20, 26);
}
.black_text {
    font-family : Nunito;
    font-size : 17px;
    line-height : 25px;
    text-transform : uppercase;
    padding-top: 15px;
    margin-bottom: 0;
}
.red_text {
    font-family : Nunito;
    font-size : 17px;
    line-height : 25px;
    text-transform : uppercase;
    color : #BA141A;
}
button.buttons-copy{
    background-color: #000 !important;
}
button.buttons-csv{
    background: #2a5bb3 !important;
}
button.buttons-excel{
    background: #3e994a !important;
}
button.buttons-pdf{
    background: #b33636 !important;
}
.no_transform{
    transform: none !important;
    bottom: -15px !important;
}
.no_transform > i{
    font-size: 60px;
}
#sale_made_table_wrapper > div:nth-child(2) > div.col-sm-12{
    transform: rotateX(180deg);
    overflow: auto;
}
#sale_made_table_wrapper > div:nth-child(2) > div.col-sm-12 >  table{
    transform: rotateX(180deg);
}
.m-card-user__edit{
    right: 0;
    top: 0;
}

/*------------------------chat sidebar Styling--------------------*/
.one_to_one_user{
    background: none;
    border: none;
    cursor: pointer;
}
.active_chat_info {
    height: 50px;
    padding: 10px;
    background: #e6e6e6;
}
.message-text_recieved,.message-text_send{
    padding: 25px 10px 10px;
    background: #e6e6e6;
    border-radius: 10px;
    word-break: break-all;
}
.message-text_send{
    background: #716aca;
    margin-right: 10px;
    color: white;
}
.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--out{
    padding-left: unset;
}
#chat_arrow_icon {
     background-color: transparent;
    border-radius: 50%;
    color: #000;
    border: 1px solid #000;
    margin: 0px auto;
    position: absolute;
    bottom: 50px;
    left: 40%;
    z-index: 9;
}
.m-messenger__message--in .msg_option_caret{
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 10;
    background: transparent;
    border: none;
}
.m-messenger__message--in .msg_option_caret button{
    background: transparent;
    border: none;
    padding: 5px 10px;
    margin-right: -10px;
}
.m-messenger__message--in .dropdown-menu{
    width: fit-content;
}
.m-messenger__message--in .dropdown-menu a{
    padding: 2px 5px;
}
.chat_attachment{
    width: fit-content;
    max-width: 100px;
}
.m-messenger .m-messenger__form{
    display: unset;
}
#reply_msg_div{
    position: absolute;
    display: inline-block;
    top: -55px;
    width: 250px;
    height: 50px;
    background: #e3e3e3;
    z-index: 11;
    padding: 5px 10px;
    /* box-shadow: inset 2px 2px 2px rgb(0 0 0 / 50%); */
    border: 1px solid #000;
}
#reply_msg_div button{
    background: transparent;
}
#reply_msg_div p{
    width: 80%;
    /* width: 200px; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
}
#reply_msg_div img{
    height: 85px;
}
.send_reply_para {
    margin-right: 10px;
}
.send_reply_para,.recieve_reply_para{
    margin-bottom: -10px;
    padding: 10px;
    background: #E6E6E6;
    color: #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.recieve_reply_para{
    background: #7278c7;
    color: #fff;
}
.send_reply_para img,.recieve_reply_para img{
    display: block;
}
#btn_create_group{
    bottom: 90px;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0px;
}
#btn_create_group i{
    padding: 20px;
}
#btn_create_group:hover,#btn_create_group:focus{
    background-color: transparent !important;
    color: #716aca !important;
    border-color: #716aca !important;
}


.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    opacity: 1;
    top: 0px;
    left: 0px;
}
.modal-img {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-img img {
    padding: 5px;
    width: fit-content;
    max-width: 50%;
}
.noscroll {
    overflow: hidden;
}
.item_group{
    cursor: pointer;
}
.m-widget4 .m-widget4__item .m-widget4__img.m-widget4__img--logo img{
    height: 3.5rem;
}
.group_edit_btn{
    background: transparent;
}
.group_edit_btn i{
    font-size: 25px;
}
.user_search_broadcast .form-control {
    padding-left: 2.375rem !important;
}

.user_search_broadcast .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 42px;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
#active_chat_user_img{
    width: 30px;
    border-radius: 50%;
}
.chat_attachment{
    margin-bottom:8px;
}
.modal_img_view{
    max-width: 100%;
}
.message_details{
    font-size: 10px;
    margin-top: -15px;
}
.alert_div{
    width: 100%;
    margin: 10px 0px 0px 10px;
    /*box-shadow: 0px 2px 14px 3px rgb(0 0 0 / 15%);*/
    /*-webkit-box-shadow: 0px 2px 14px 3px rgb(0 0 0 / 15%);*/
    /*-moz-box-shadow: 0px 2px 14px 3px rgb(0 0 0 / 15%);*/
    padding: 20px 10px;
    text-align: left;
    cursor: pointer;
    position: absolute;
    /*bottom: -100px;*/
    height: 50px;
    /*transition: 0.5s ease-in-out;*/
    display: none;
    justify-content: space-between;
    align-items: baseline;
}
.alert_div .inner_div{
    /*text-overflow: ellipsis;*/
    overflow: hidden;
    height: 1.2em;
    /*white-space: nowrap;*/
}
.alert_div .broadcaster_name{
    color: #ad5beb;
    font-weight: 900;
}
.alert_div *{
    color:  #000;
}
/*.broadcast_msg{*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*}*/
.alert_div .message_details{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    text-align: right;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.7287289915966386) 10%, rgba(255,255,255,1) 35%);
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: end;
}
.alert_div img {
    float: left;
    margin-right: 10px;
    margin-top: -8px;
}
.togglesearch{
    display: none;
    position: absolute;
    width: 200px;
    right: -84px;
    bottom: -50px;
    padding: 7px 0px;
    transition: 0.5s ease-in-out;
}
.togglesearch::before{
    content: "";
    width: 20px;
    height: 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #716aca;
    position: absolute;
    left: 40%;
    top: -13px;
}
#alerts-container {
    height: 70px;
    overflow: hidden;
    float: left;
    width: 100%;
    padding:  0px 20px;
}

#alerts-text {
    height: 100%;
    text-align: center;

    /*!* animation properties *!*/
    /*-moz-transform: translateY(100%);*/
    /*-webkit-transform: translateY(100%);*/
    /*transform: translateY(100%);*/

    /*-moz-animation: my-animation 5s linear infinite;*/
    /*-webkit-animation: my-animation 5s linear infinite;*/
    /*animation: my-animation 5s linear infinite;*/
}

/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation {
    from {
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
#chat_sidebar_toggler > .chat_sidebar_unread,
.chat_single_tab_nav > .chat_single_unread,
.chat_group_tab_nav > .chat_group_unread{
    position: absolute;
    top:  5px;
    right: 5px;
}
#chat_sidebar_toggler > .chat_sidebar_unread.unread,
.chat_single_tab_nav > .chat_single_unread.unread,
.chat_group_tab_nav > .chat_group_unread.unread
{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #e10505;
    border-radius: 50%;
    color: white;
    font-size: 10px;
}

.select2-container--open {
    z-index: 2147483647 !important;
}
span.select2-selection.select2-selection--single {
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 20px;
}
a.nav-link:hover > .add-new-button i{
    color: #34bfa3 !important;
}
